@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-azeret-mono: "Azeret Mono";
  --font-dela-gothic-one: "Dela Gothic One";
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs-4: 11.4px;
  --font-size-6xs-2: 6.2px;
  --font-size-3xl: 22px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-101xl: 120px;
  --font-size-11xl: 30px;
  --font-size-29xl: 48px;
  --font-size-131xl: 150px;
  --font-size-18xl: 37px;
  --font-size-41xl: 60px;
  --font-size-231xl: 250px;
  --font-size-43xl: 62px;
  --font-size-81xl: 100px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-321xl: 340px;
  --font-size-66xl: 85px;
  --font-size-117xl: 136px;
  --font-size-5xl: 24px;
  --font-size-86xl: 105px;
  --font-size-12xl: 31px;
  --font-size-33xl: 52px;
  --font-size-56xl: 75px;
  --font-size-26xl: 45px;
  --font-size-sm-2: 13.2px;
  --font-size-6xl-6: 25.6px;

  /* Colors */
  --color-gray-100: #1a280f;
  --color-gray-200: #18181b;
  --color-whitesmoke: #f4f4f5;
  --color-white: #fff;
  --color-gainsboro: #e6e6e6;
  --color-khaki-100: #fcfda2;
  --color-khaki-200: #fbff85;
  --color-khaki-300: #daf174;
  --color-khaki-400: #e3e38a;
  --color-black: #000;
  --color-darkslategray: #1f2e13;
  --color-dimgray-100: #526147;
  --color-dimgray-200: rgba(82, 97, 71, 0.09);

  /* Gaps */
  --gap-9xl-9: 28.9px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-46xl-8: 65.8px;
  --gap-14xl: 33px;
  --gap-51xl-4: 70.4px;
  --gap-16xl: 35px;
  --gap-lg: 18px;
  --gap-37xl-2: 56.2px;
  --gap-9xl: 28px;
  --gap-81xl: 100px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-151xl: 170px;
  --gap-66xl: 85px;
  --gap-23xl: 42px;
  --gap-100xl: 119px;
  --gap-40xl: 59px;
  --gap-11xl: 30px;
  --gap-34xl-2: 53.2px;
  --gap-8xl: 27px;
  --gap-107xl: 126px;
  --gap-44xl: 63px;
  --gap-12xl: 31px;
  --gap-13xl: 32px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-17xl: 36px;
  --gap-36xl: 55px;
  --gap-lgi: 19px;
  --gap-87xl: 106px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-68xl-1: 87.1px;
  --gap-3xl: 22px;
  --gap-25xl: 44px;
  --gap-53xl-5: 72.5px;
  --gap-12xl-5: 31.5px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-81xl: 100px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-2xl: 21px;
  --padding-7xl: 26px;
  --padding-6xl: 25px;
  --padding-36xl: 55px;
  --padding-4xl: 23px;
  --padding-50xl: 69px;
  --padding-3xl: 22px;
  --padding-64xl: 83px;
  --padding-16xl: 35px;
  --padding-20xl: 39px;
  --padding-56xl: 75px;
  --padding-72xl-3: 91.3px;
  --padding-110xl: 129px;
  --padding-19xl: 38px;
  --padding-45xl: 64px;
  --padding-18xl: 37px;
  --padding-11xs: 2px;
  --padding-41xl: 60px;
  --padding-22xl: 41px;
  --padding-27xl: 46px;
  --padding-21xl-6: 40.6px;
  --padding-8xl: 27px;
  --padding-344xl: 363px;
  --padding-217xl: 236px;
  --padding-lg: 18px;
  --padding-2xs: 11px;
  --padding-44xl: 63px;
  --padding-mini: 15px;
  --padding-sm: 14px;
  --padding-12xs: 1px;
  --padding-9xl: 28px;
  --padding-53xl: 72px;
  --padding-52xl: 71px;
  --padding-17xl: 36px;
  --padding-149xl: 168px;
  --padding-280xl: 299px;
  --padding-135xl: 154px;
  --padding-287xl: 306px;
  --padding-134xl: 153px;
  --padding-130xl: 149px;
  --padding-57xl: 76px;
  --padding-55xl: 74px;
  --padding-46xl: 65px;
  --padding-90xl: 109px;
  --padding-47xl: 66px;
  --padding-13xl: 32px;
  --padding-6xs-2: 6.2px;
  --padding-12xs-6: 0.6px;
  --padding-5xl-6: 24.6px;
  --padding-base-9: 15.9px;
  --padding-smi: 13px;
  --padding-25xl: 44px;
  --padding-23xl: 42px;
  --padding-xs: 12px;
  --padding-29xl: 48px;
  --padding-37xl: 56px;
  --padding-5xl: 24px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-53xl: 72px;
  --br-6xl: 25px;
  --br-xl: 20px;
  --br-7xs: 6px;
}
